.form {
    display: 'flex';
    flex-direction: column;
}

.card {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 50px;
    left: 33%;
}

.button {
    border: solid #D0D5DD 1px;
    margin: 5px;
    border-radius: 4px;
    background-color: #D0D5DD;

}